{% extends 'common/base_navbar.html' %}
{% load widget_tweaks %}
{% load static %}

{% block navBrandHref %}
    {% if not request.user.is_authenticated %}
        {% url 'studio_staff_login' %}
    {% endif %}
    {% if request.user.is_authenticated %}
        {% url 'studio_classes' %}
    {% endif %}
{% endblock navBrandHref %}
{% block studioname %}
    {% if request.user.is_authenticated %}
        <div class="studio-greeting navbar-text">Welcome, {{ studio }}!</div>
    {% endif %}
{% endblock studioname %}
{% block content %}
    <div id="message-bar" class="alert alert-success alert-dismissible" role="alert">

    </div>
    <div class="change-password">
        <div class="blue-container">
            <div class="container">
                <div class="panel panel-class col-lg-4 col-sm-4">
                    <div class="panel-heading">
                        <div>
                            <h3> Change Password</h3>
                        </div>
                    </div>
                    <div class="panel-body" ng-controller="changePasswordCtrl">
                        <form name="changePasswordForm">
                            <div class="form-group">
                                <input class="form-control margin-bottom-10" type="password" name="password"
                                       placeholder="Password" ng-model="password" ng-minlength="6" ng-maxlength="20"
                                       ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>

                                <p class="validation-error"
                                   ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">
                                    Password required</p>

                                <p class="validation-error"
                                   ng-show="!changePasswordForm.password.$error.required && (changePasswordForm.password.$error.minlength || changePasswordForm.password.$error.maxlength) && changePasswordForm.password.$dirty">
                                    Passwords must be between 6 and 20 characters.</p>

                                <p class="validation-error"
                                   ng-show="!changePasswordForm.password.$error.required && !changePasswordForm.password.$error.minlength && !changePasswordForm.password.$error.maxlength && changePasswordForm.password.$error.pattern && changePasswordForm.password.$dirty">
                                    Must contain one lower &amp; uppercase letter, and one non-alpha character (a number
                                    or a symbol.)</p>

                            </div>
                            <div class="form-group">
                                <input class="form-control margin-bottom-10" type="password" name="confirmPassword"
                                       placeholder="Confirm password" ng-model="confirmPassword" password-confirm
                                       match-target="password" required>

                                <p class="validation-error"
                                   ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.required">
                                    Password confirm required</p>

                                <p class="validation-error"
                                   ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.match">
                                    Password confirm doesn't match password</p>
                            </div>
                            <button ng-click="submit()" ng-disabled="changePasswordForm.$invalid"
                                    class="btn btn-primary btn-block invert-button weight-600 text-uppercase">change
                                password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">© 2016 Fitopia London</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/common/ajax-setup.js' %}"></script>
    <script src="{% static 'js/common/angularjs-1.5.6/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accounts/change-password.js' %}"></script>
    <link rel='stylesheet' href="{% static 'css/accounts/change-password.css' %}" type='text/css'>
{% endblock script %}
