html, body {
    height: 100%;
}

footer {
    height: 40px;
}

.blue-container .container {
    background-color: #FFFFFF;
}

.blue-container .panel {
    box-shadow: none;
    margin-left: 0;
}

.blue-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    padding-top: 40px;
}