html, body {
    height: 100%;
}

body {
    padding-top: 78px !important;
}

footer {
    height: 40px;
}

.blue-container .container {
    background-color: #FFFFFF;
}

.blue-container .panel {
    box-shadow: none;
    margin-left: 0;
}

.blue-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    padding-top: 40px;
}

.account .panel-heading {
    padding-bottom: 0;
}

.bank-details .panel-heading {
    padding-top: 0;
}

.change-password .panel-heading {
    padding-top: 0;
}

.validation-error {
    color: #a94442;
    display: block;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-top: 5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary[disabled] {
    background-color: #ccc;
    border-color: #ccc;
}